@font-face {
    font-family: "Oswald";
    src: url("Oswald-Medium.woff2") format("woff2"),
         url("Oswald-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    min-height: 212px;
    max-height: 400px;
}

.main-box {
    background-color: #6d8d23;
    min-height: 212px;
    min-width: 370px;
}

h2 {
    font-size: 3em; 
    color: #6d8d23;
    font-family: "Oswald";
    background-color: #eeefef;
    margin: 0;
    padding: .5% 0 .5% 2%;
}

.tablink-container {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.tablink {
    font-family: "Oswald";
    font-size: 16pt;
    background-color: #eeefef;
    color: #131313;
    cursor: pointer;
    padding: 5% 0 5% 0;
    width: 25%;
    border: none;
    outline: none;
}

.tablink:hover {
    background-color: #445209;
    color: #eeefef;
}

.tablink:active {
    background-color: #6d8d23;
    color: #eeefef;
}

.tablink:focus {
    color: #eeefef;
}

.tabcontent {
    font-family: arial;
    position: relative;
    top: -10px;
    color: #eeefef;
    display: none;
    padding: .5em;
    height: auto;
}

.tabcontent h3 {
    font-family: "Oswald";
}

#tab1 {
    background-color: #6d8d23;
}

#tab2 {
    background-color: #6d8d23;
}

#tab3 {
    background-color: #6d8d23;
}

#tab4 {
    background-color: #6d8d23;
}
