@font-face {
    font-family: "Oswald";
    src: url("Oswald-Medium.woff2") format("woff2"),
         url("Oswald-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    min-height: 212px;
    max-height: 1000px;
}

.main-box {
    background-color: #6d8d23;
    min-height: 212px;
    min-width: 370px;
    padding-bottom: 1%;
}

.shifty-content-container {
    position: relative;
    top: -40px;
}

h2 {
    font-size: 3em; 
    color: #6d8d23;
    font-family: "Oswald";
    background-color: #eeefef;
    margin: 0;
    padding-left: 1%;
}

h3 {
    font-size: 1.5em; 
    color: #6d8d23;
    font-family: "Oswald";
    background-color: #eeefef;
    padding-left: 1%;
    padding-bottom: .5%;
    position: relative;
    margin: 0;
}

.column h3 {
    margin-bottom: 1%;
}

.row {
    display: flex
}

.column {
    position: relative;
    padding: 1%;
    font-family: arial;
    flex: 33.333333%;
    color: #eeefef;
}

.column h3 {
    padding: 0;
    color: #eeefef;
    background-color: transparent;
}

.cost h3 {
    padding: 0;
    color: #eeefef;
    background-color: transparent;
    text-align: center;
}
