@font-face {
    font-family: "Oswald";
    src: url("Oswald-Medium.woff2") format("woff2"),
         url("Oswald-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    min-height: 212px;
    max-height: 1000px;
    background-color: #6d8d23;
}

.main-box {
    background-color: #6d8d23;
    min-height: 212px;
    min-width: 370px;
    padding-bottom: 0%;
}

.headers {
    top: 0;
    position: sticky;
    z-index: 11;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: .15em solid #213921;
}

.shifty-content-container {
    position: relative;
    top: -40px;
}

h2 {
    font-size: 3em; 
    color: #6d8d23;
    font-family: "Oswald";
    background-color: #eeefef;
    margin: 0;
    padding-left: 1%;
}

h3 {
    font-size: 1.5em; 
    color: #6d8d23;
    font-family: "Oswald";
    background-color: #eeefef;
    padding-left: 1%;
    padding-bottom: .5%;
    position: relative;
    margin: 0;
}

h4 {
    margin: 0;
    font-family: "Oswald";
    padding-left: 1%;
}

.column h3 {
    margin-bottom: 1%;
}

.row {
    display: flex;
    /*Add borders on monday*/
    border-top: .15em solid #213921;
}

.column {
    position: relative;
    padding: 1%;
    font-family: arial;
    flex: 25%;
    color: #eeefef;
    background-color: #6d8d23;
    min-height: 200px;
    margin-bottom: 1%;
}

.columnh {
    position: relative;
    padding: 1%;
    font-family: arial;
    flex: 25%;
    color: #eeefef;
    background-color: #6d8d23;
    height: 100%;
}
.rowh {
    display: flex;
    background-color: #6d8d23;
}

.columnmod {
    position: relative;
    padding: 1%;
    font-family: arial;
    flex: 25%;
    background-color: #eeefef;
    color: #6d8d23;
    height: auto;
}

.mod{
    color: #6d8d23;
    font-family: "Oswald";
    background-color: #eeefef;
    height: 100vw;
}

.column h3 {
    padding: 0;
    color: #eeefef;
    background-color: transparent;
}

.columnh h3 {
    font-size: 1.5em;
    padding: 0;
    color: #eeefef;
    background-color: transparent;
}

.cost {
    font-family: "Oswald";
    color: #6d8d23;
    padding-left: 1%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 1%;
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 100vw;
        font-size: 8pt;
    }

    .main-box {
        width: 100vw;
    }

    .columnh h3 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: .75em;
    }

}